<ion-view view-title="Search">
  <ion-nav-bar class="bar-assertive">
     <ion-nav-back-button> </ion-nav-back-button> 
     <ion-nav-buttons side="left"> <a class="button button-icon button-clear ion-android-arrow-back" menu-close href="#/app/home"> </a> </ion-nav-buttons>
  </ion-nav-bar>    

 
  <ion-content>
    <div class="list col">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search products">
      </label>
    </div>
    <div class="list col">
      <div class="item item-divider">
        Results
      </div>
      <a class="item" >
        Product Name
      </a>
    </div>

    <!--Document upload Below-->
    <div class="list col">
        <label class="button button-assertive button-block  button-outline" for="file-input">
          Choose Licence <input type="file" id="file-input" style="position:absolute; top:-1000%;" onchange="angular.element(this).scope().uploadFile(this.files)">
        </label>
        <label class="button button-clear button-assertive button-full">
         <span ng-if="!filenameSel">No file chosen</span><span ng-if="filenameSel">{{filenameSel}}</span>
        </label>
         <button class="button button-assertive button-block">  Upload Document </button>
    </div><!--./ endDocument upload-->
  
  

  </ion-content>
</ion-view>
