<ion-view view-title="Manage products">
    <ion-nav-bar class="bar-assertive myClearx-bar">
     <ion-nav-back-button> </ion-nav-back-button> 
     <ion-nav-buttons side="left"> 
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-if="editView == false"> </button> 
        <button class="button button-icon button-clear ion-android-arrow-back" ng-click="productListback()" ng-if="editView == true"></button>
     </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
   <div class="col" ng-if="editView == false " >
    <div class="list"  >
        <a class="item item-avatar" ng-repeat="product in productList"  >
          <img ng-src="{{product.productImage}}">
          <h2>{{product.productName}}</h2>
          <p>{{product.brandName}}</p>

          <div class="edit-delete-box row">
            <div class="col padding-0">
                <button class="button button-clear button-dark" ><i class="icon ion-edit"></i></button>
            </div>
            <div class="col padding-0">
                <button class="button button-clear button-assertive" ng-click="showPopup()"><i class=" icon ion-trash-a"></i></button>
            </div>
          </div>
        </a>
    </div>
   </div>

    <div class="col" ng-if="editView == true " >
         <div>
        <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
              Product category
            </div>
            <select>
              <option>Pesticides</option>
              <option selected>Seeds</option>
              <option>Fertiliser</option>
            </select>
          </label>
      <label class="item item-input">
        <span class="input-label">Product name</span>
        <input type="text"  required>
      </label>        
      <label class="item item-input">
        <span class="input-label">Price (INR.)</span>
        <input type="number" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Expiry Date</span>
        <input type="date" required>
      </label>
      <div class="item item-divider">
       Product details
      </div>
      <label class="item item-input">
        <textarea placeholder="Product information"></textarea>
      </label>
      <div class="item item-divider">
       Product image
      </div>
      <label class="item item-input txt-center">
        <img src="img/Img_80x80.jpg" />
          <button class="button button-clear button-block button-assertive" >Add product image</button>
      
      </label>
      
     
       <button class="button button-block button-assertive" >Update Product</button>
      
      
    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
