<ion-view view-title="Cart">
    <ion-nav-bar class="bar-assertive myClearx-bar">
        <ion-nav-back-button> </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <a class="button button-icon button-clear ion-android-arrow-back" menu-close href="#/app/home"> </a>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>
        <div class="col cart-list">
            <div ng-if="!cartItems[0]" >
                 <div class="list card">
                    <div class="item item-image" style="padding:65px">
                        <img src="img/emptyCart.png">
                    </div>
                     <a class="item assertive text-center">
                       YOUR CART IS EMPTY!
                        </a>
                  </div>
            </div>
            <div class="list" ng-repeat="cart in cartItems track by $index">
                <div class="item item-thumbnail-left">
                    <img ng-src="http://myclearx.com/myclearx/uploads/{{cart.image[0].Product_image}}">
                    <h2>
                        <span class="pull-left">{{cart.Product_name}}</span>
                        <span class="pull-right">
                            <a class="button button-icon icon ion-ios-close-empty button-small button-stable button-clear" ng-click="removeCartItem($index)"></a>
                        </span>
                    </h2>
                    <p>Exp. Date
                        <span>{{cart.Expiry_date}}</span>
                    </p>
                    <div class="pull-left">
                        <p>Rs.
                            <span>{{cart.Price}}</span>
                        </p>
                    </div>
                    <div class="operate-qty pull-right">
                        <button class="btn-qty btn-sub quantity_sub" ng-click="itemcountDesc(cart);">-</button>
                        <input type="number" class="quantity" ng-model="cart.productCount">
                        <button class="btn-qty btn-add quantity_add" ng-click="itemcountInc(cart);">+</button>
                    </div>
                </div>                
            </div>{{cart.productCount}}
            <div class="list">
                <div class="item item-divider text-center" ng-if="cartItems[0]">
                  Total Amount : <span ng-bind="TotalCount"></span>
                </div>
            </div>



            
            <button ng-if="cartItems[0]" class="button button-block button-assertive" ng-click="Checkout()">Checkout</button>
        </div>















        <!--
  <div ng-repeat="a in cartItems">
   <div class="card">
      <div class="item item-divider">
        {{a.product}}
        <button class="button button-icon icon ion-ios-trash-outline button-small button-clear button-assertive remove-cart-prod"></button>
      </div>
      <div class="item item-text-wrap">
        <div class="row">
            <div class="col">Rate</div> <div class="col col-67 txt-right padding-btn-right" >{{a.price}}</div>
        </div>
         <div class="row">
            <div class="col">Quantity</div> 
            <div class="col col-67">
                <div class="in-dr-qty">
                   <div><button class="button button-icon icon ion-ios-plus-empty button-small button-clear button-assertive"></button></div>
                   <div class="prod-quanti">01</div>
                   <div><button class="button button-icon icon ion-ios-minus-empty button-small button-clear button-assertive"></button></div>
                </div>
            </div>
        </div>
        <hr />
         <div class="row">
            <div class="col">Total</div> <div class="col col-67 txt-right padding-btn-right">{{a.price}}</div>
        </div>
      </div>     
  </div>
  </div>
  <div class="card">
    <div class="item">
        <div class="row">
            <div class="col">Net Total</div> <div class="col col-67 txt-right padding-btn-right">15000</div>
        </div>
        <br />
        <hr />
        <button class="button button-block button-assertive">Proceed payment</button>
    </div>
  </div>-->
    </ion-content>
</ion-view>