<ion-view view-title="{{loginRegister}}">
    <ion-nav-bar class="bar-assertive myClearx-bar">
     <ion-nav-back-button> </ion-nav-back-button> 
     <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
    <form class="row" ng-if="loginRegister == 'Login'" name="loginForm" novalidate>
   <div class="col">
     <p class="txt-center">Please enter your registered email address and password.</p>
     <div class="list">
      <label class="item item-input">
        <span class="input-label">E-mail</span>
        <input type="email" name="email" ng-model="login.Email" required>
      </label>
      <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="text-danger">Enter a valid email.</p>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="login.Password" required>
      </label>
    </div>
     
   
   <div class="row">
    <div class="col"><button class="button button-outline button-block button-assertive" ng-click="loginChange('Reset Password')">Forgot password?</button></div>
    <div class="col"><button class="button button-block button-assertive" ng-disabled="loginForm.$invalid" ng-click="getLogin();">Login</button></div>
   </div>

        <br />
     <button class="button button-clear button-block button-assertive" ng-click="loginChange('Register')">Create new account </button>
   </div>
  </form>   
 
  <form class="row" ng-if="loginRegister == 'Reset Password'" name="forgotpasswordForm">
     <div class="col">
         <p class="txt-center">Please enter your registered mobile number.</p>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" name="Email" ng-model="reset.Email" required>               
          </label>
                <div class="row">
                    <div class="col"> </div>
                    <div class="col"><button class="button button-outline button-block button-assertive" ng-disabled="forgotpasswordForm.Email.$invalid" ng-click="forgotpassword(reset);">Request OTP</button></div>
               </div>
        <div>
            <label class="item item-input">
            <span class="input-label">OTP:</span>
            <input type="number" name="Otp" ng-model="reset.otp" required>               
        </label>
        <div class="row">
             <div class="col"><button class="button button-outline button-block button-assertive" ng-disabled="forgotpasswordForm.$invalid" ng-click="loginChange('Login')">Back</button></div>
             <div class="col"><button class="button button-block button-assertive" ng-disabled="forgotpasswordForm.$invalid" ng-click="submitOTP();">Submit OTP</button></div>
         </div>
        </div>
     </div>
  </form>
<!---->
<form class="row" name="registerForm" ng-if="loginRegister == 'Register'" novalidate>
   <div class="col">
     <p class="txt-center">Please enter your details to register.</p>
     <div class="list">
      <p ng-if="errorFlag">{{errorMsg}}</p>
      <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="text-danger">Enter a valid email.</p>
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" name="First_name" ng-model="register.First_name" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" name="Last_name" ng-model="register.Last_name" required>
      </label>
      <label class="item item-input">
        <span class="input-label">E-mail</span>
        <input type="email" name="Email" ng-model="register.Email" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Mobile No.</span>
        <input type="number" name="Mobile_no" ng-model="register.Mobile_no" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" name="Password" ng-model="register.Password" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Confirm Password</span>
        <input type="password" name="C_password" ng-model="register.C_password" required>
      </label>
      <div class="item item-divider">
       Address
      </div>
       <label class="item item-input">       
        <textarea name="Address_line_1" placeholder="Address line 1" ng-model="register.Address_line_1" required></textarea>
      </label>
      <label class="item item-input">       
        <textarea name="Address_line_2" placeholder="Address line 1" ng-model="register.Address_line_2"></textarea>
      </label>
      <label class="item item-input">
        <span class="input-label">Landmark</span>
        <input type="text" name="Landmark" ng-model="register.Landmark" required>
      </label>
      <label class="item item-input">
        <span class="input-label">City</span>
        <input type="text" name="City" ng-model="register.City" required>
      </label>
      <label class="item item-input">
        <span class="input-label">PIN Code</span>
        <input type="number" name="Pincode" ng-model="register.Pincode" required>
      </label>

    </div>
    <p class="txt-center">Please pick the best word that represents you.</p>
    <ion-list>
      <ion-radio ng-model="register.User_type" name="User_type" ng-value="'1'" required>Manufacturer</ion-radio>
      <ion-radio ng-model="register.User_type" name="User_type" ng-value="'2'" required>Krushi Kendra</ion-radio>
      <ion-radio ng-model="register.User_type" name="User_type" ng-value="'3'" required>Farmer</ion-radio>
    </ion-list>
    
    <button class="button button-block button-assertive" ng-if="!registerBtn" ng-disabled="registerForm.$invalid" ng-click="getOTP(register)">Register</button> 
    <button class="button button-block button-assertive" ng-if="registerBtn" ng-disabled="registerForm.$invalid" ng-click="getRegister(register)">Register</button>
        <br />
     <button class="button button-clear button-block button-assertive" ng-click="loginChange('Login')">Existing user?</button>
   </div>
  </form>

       
  </ion-content>
</ion-view>
