<ion-view view-title="{{loginRegister}}">
    <ion-nav-bar class="bar-assertive myClearx-bar">
     <ion-nav-back-button> </ion-nav-back-button> 
     <ion-nav-buttons side="left"> <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
<form class="row" ng-if="loginRegister == 'Login'" name="loginForm" novalidate>
   <div class="col">
     <p class="txt-center">Please enter your registered email address and password.</p>
     <div class="list">
      <label class="item item-input">
        <span class="input-label">E-mail</span>
        <input type="email" name="email" ng-model="login.Email" required>
      </label>
      <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="text-danger">Enter a valid email.</p>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="login.Password" required>
      </label>
    </div>
     
   

     <button class="button button-block button-assertive" ng-disabled="loginForm.$invalid" ng-click="getLogin();">Login</button>
        <br />
     <button class="button button-clear button-block button-assertive" ng-click="switchlogin('Register')">Create new account </button>
   </div>
  </form>
<!---->
<form class="row" name="registerForm" ng-if="loginRegister == 'Register'" novalidate>
   <div class="col">
     <p class="txt-center">Please enter your details to register.</p>

     <div class="list">
      <p ng-if="errorFlag">{{errorMsg}}</p>
      <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="text-danger">Enter a valid email.</p>
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="register.First_name" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="register.Last_name" required>
      </label>
      <label class="item item-input">
        <span class="input-label">E-mail</span>
        <input type="email" name="email" ng-model="register.Email" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Mobile No.</span>
        <input type="number" ng-model="register.Mobile_no" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="register.Password" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Confirm Password</span>
        <input type="password" ng-model="register.C_password" required>
      </label>
      <div class="item item-divider">
       Address
      </div>
       <label class="item item-input">       
        <textarea placeholder="Address line 1"></textarea>
      </label>
      <label class="item item-input">       
        <textarea placeholder="Address line 1"></textarea>
      </label>
      <label class="item item-input">
        <span class="input-label">Landmark</span>
        <input type="text" required>
      </label>
      <label class="item item-input">
        <span class="input-label">City</span>
        <input type="text" required>
      </label>
      <label class="item item-input">
        <span class="input-label">PIN Code</span>
        <input type="number" required>
      </label>

    </div>
    <p class="txt-center">Please pick the best word that represents you.</p>
    <ion-list>
      <ion-radio ng-model="login.User_type" ng-value="'1'">Manufacturer</ion-radio>
      <ion-radio ng-model="login.User_type" ng-value="'2'">Krushi Kendra</ion-radio>
      <ion-radio ng-model="login.User_type" ng-value="'3'">Farmer</ion-radio>
    </ion-list>

     <button class="button button-block button-assertive" ng-disabled="registerForm.$invalid" ng-click="getRegister(register)">Register</button>
        <br />
     <button class="button button-clear button-block button-assertive" ng-click="switchlogin('Login')">Existing user?</button>
   </div>
  </form>

       
  </ion-content>
</ion-view>
